<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oxygen.oblog.dao.RightMapper" >
  <resultMap id="BaseResultMap" type="com.oxygen.oblog.entity.Right" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="right_name" property="rightName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, right_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from right
    where rid = #{rid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from right
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from right
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oxygen.oblog.entity.Right" >
    insert into right (rid, right_name)
    values (#{rid,jdbcType=INTEGER}, #{rightName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oxygen.oblog.entity.Right" >
    insert into right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="rightName != null" >
        right_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rightName != null" >
        #{rightName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oxygen.oblog.entity.Right" >
    update right
    <set >
      <if test="rightName != null" >
        right_name = #{rightName,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oxygen.oblog.entity.Right" >
    update right
    set right_name = #{rightName,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>